.zbc-button.is-destructive,
.is-dark-theme .zbc-button.is-destructive {
	background-color: #800;
	color: #fff;
}

.is-light-theme .zbc-button.is-destructive {
	background-color: #b00;
	color: #fff;
}

.zbc-button.is-destructive:hover,
.is-dark-theme .zbc-button.is-destructive:hover {
	background-color: #a11;
}

.is-light-theme .zbc-button.is-destructive:hover {
	background-color: #d11;
}

.zbc-button.is-primary,
.is-dark-theme .zbc-button.is-primary {
	background-color: #039;
	color: #fff;
}

.is-light-theme .zbc-button.is-primary {
	background-color: #05b;
	color: #fff;
}

.zbc-button.is-primary:hover,
.is-dark-theme .zbc-button.is-primary:hover {
	background-color: #15b;
}

.is-light-theme .zbc-button.is-primary:hover {
	background-color: #17d;
}
