.zbc-calculator {
	border: 1px solid var(--foreground-color, #000);
	border-radius: 2px;
	display: grid;
	width: max-content;
	padding: 12px;
	gap: 8px;
}

.zbc-calculator__display {
	display: flex;
	align-items: center;
	gap: 8px;
}

.zbc-calculator__display__output {
	flex-grow: 1;
	font-size: 1.5em;
	line-height: 1.2em;
	text-align: right;
}

.zbc-calculator__buttons {
	display: grid;
	grid-template-areas:
		'num       binaryop'
		'bottomrow bottomrow';
	justify-content: center;
	gap: 8px;
}

.zbc-calculator__buttons__numbers {
	display: grid;
	grid-area: num;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 8px;
}

.zbc-calculator__buttons__binary-operators {
	display: grid;
	grid-area: binaryop;
	gap: 8px;
}

.zbc-calculator__buttons__binary-operators .zbc-button,
.is-dark-theme .zbc-calculator__buttons__binary-operators .zbc-button {
	background-color: #650;
	color: #fff;
}

.is-light-theme .zbc-calculator__buttons__binary-operators .zbc-button {
	background-color: #efb000;
	color: #000;
}

.zbc-calculator__buttons__binary-operators .zbc-button:hover,
.is-dark-theme .zbc-calculator__buttons__binary-operators .zbc-button:hover {
	background-color: #760;
}

.is-light-theme .zbc-calculator__buttons__binary-operators .zbc-button:hover {
	background-color: #ffd020;
}

.zbc-calculator__buttons__bottom-row {
	display: grid;
	grid-area: bottomrow;
	grid-template-columns: auto auto 1fr;
	gap: 8px;
}
